<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.srujal.controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>com.srujal.controller.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <servlet-class>com.srujal.controller.DoctorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctorProfileServlet</servlet-name>
        <servlet-class>com.srujal.controller.UpdateDoctorProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLoginServlet</servlet-name>
        <servlet-class>com.srujal.controller.PatientLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRegisterServlet</servlet-name>
        <servlet-class>com.srujal.controller.PatientRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.srujal.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <url-pattern>/DoctorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctorProfileServlet</servlet-name>
        <url-pattern>/UpdateDoctorProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLoginServlet</servlet-name>
        <url-pattern>/PatientLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegisterServlet</servlet-name>
        <url-pattern>/PatientRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
